<?xml version="1.0"?>
<launch>
    <!--<arg name="paused" default="false"/>
	  <arg name="use_sim_time" default="true"/>
	  <arg name="gui" default="false"/>
      <arg name="debug" default="false"/>-->

  <!--Load scene-->
  <!--<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find weichai_sim)/worlds/empty_sky.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>  
  </include>-->

<!--Load vehicle-->
<!--<group ns="vehicle">-->
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find vehicle)/urdf/vehicle_model.urdf.xacro" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/vehicle/joint_states" />
</node>

<!--Publish states of uncontrolled joints-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/vehicle/joint_states" />
  </node>

  <!--</group>-->

  <!--Gazebo-->
  <!--<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/> -->

  <!--Rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vehicle)/rviz/vehicle_rviz.rviz"/>

</launch>
