<?xml version="1.0"?>
<launch>
    <!--<arg name="paused" default="false"/>
	  <arg name="use_sim_time" default="true"/>
	  <arg name="gui" default="false"/>
      <arg name="debug" default="false"/>-->

  <!--Load scene-->
  <!--<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find weichai_sim)/worlds/empty_sky.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>  
  </include>-->

<!--Load vehicle-->
<!--<group ns="vehicle">-->
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find vehicle)/urdf/vehicle_model.urdf.xacro" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/vehicle/joint_states" />
</node>

<!--Publish states of uncontrolled joints-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/vehicle/joint_states" />
  </node>

  <!--</group>-->

  <!--Gazebo-->
  <!--<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/> -->

  <!--Rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vehicle)/rviz/vehicle_rviz.rviz"/>


  <!--static tf-->
  <node name="base_footprint2ins" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0.3 0 0 0 base_footprint ins"/>
  <node name="ins_velodyne" pkg="tf2_ros" type="static_transform_publisher" args="3.3 0.851 1.2 -0.028154 -0.0043070 0.347599748 0.93721 ins velo32_left"/>
  <!--<node name="ins_velodyne" pkg="tf2_ros" type="static_transform_publisher" args="3.3 0.851 1.2 0 0 0 ins velo32_left"/>-->
   <node name="left32_right32" pkg="tf2_ros" type="static_transform_publisher" args="-1.13549 -1.4474 -0.156  0.040854 0.019669 -0.60211 0.79712 velo32_left velo32_right"/>
   <!--<node name="left32_right32" pkg="tf2_ros" type="static_transform_publisher" args="-1.13549 -1.4474 -0.156 -74 0 0  velo32_left velo32_right"/>-->
</launch>
